@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: Montserrat;
    src: url(Montserrat-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
:root{
    --prime-color:#F41A4A;
    --black-color:#000;
    --dark-color:#111A24;
    --white-color:#fff;
    --sec-font:"Montserrat", sans-serif;
    --transition:.3s;
    --transition2:.6s;
}

body{
    overflow-x: hidden;
    margin-top: 70px;
}


img {
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 12%;
}

header{
    width: 100%;
    padding: 2% 12%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70px;
    padding: 0 3%;
    border-radius: 50px;
    border: 1px solid var(--dark-color);
    position: fixed;
    top: 5%;
    left:10%;
    background-color:  rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu li a{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-color);
    transition: var(--transition);
}

.menu li a:hover{
    color:var(--prime-color)
}

.sidebar{
    display: none;
}

.logo{
    width: 45px;
}

.hero_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 12%;
    gap:50px;
    height: 90vh;
    position: relative;
    z-index: 1;
}
.hero_img{
    width: 35%;
    position: relative;
    z-index: 1;
}
.hero_shape{
    position: absolute;
    top:54%;
    left:22%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 35%;
    height: 55%;
}
.border_shape{
    width: 38%;
    height: 60%;
}
.hero_img img{
    width: 85%;
}
.hero_content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-left: 50px;
}
.hero_content h2{
    font-size: 2rem;
    color: var(--prime-color);
    font-weight: 500;
}
.hero_content h1{
    font-size: 5rem;
    line-height: 6rem;
    font-family: var(--sec-font);
    color: var(--dark-color)
}
.hero_content h3 {
    margin: 10px 0;
    font-size: 1.7rem;
    font-weight: 600;
}
.hero_content h3 span{
    color:var(--prime-color)
}
.hero_btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    width: 200px;
    height: 50px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    background-color: transparent;
    font-size: 1.1rem;
    transition: var(--transition);
}
button:hover{
    background-color: var(--prime-color);
    color: var(--white-color);
    border-color: var(--prime-color);
    cursor: pointer;
}
.hero_btns button:last-child{
    width: 150px;
}
.top_bg_text{
    position: absolute;
    top: 5%;
    left: -11%;
    font-size: 10rem;
    font-weight: 600;
    -webkit-text-stroke: 1px #525252;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.5;
    z-index: -1;
}
.bottom_bg_text{
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 10rem;
    font-weight: 600;
    -webkit-text-stroke: 1px #525252;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.5;
    z-index: -1;
}

/*ABOUT SECTION*/

.about{
    flex-direction: column;
    gap: 50px;
}

.headings{
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.headings h1{
    font-size: 4rem;
    font-weight: 600;
    color: var(--dark-color)
}

.headings h1 span{
   color: var(--prime-color)
}

.anim_line_box{
    width: 2px;
    height: 120px;
    border-radius: 10px;
    background-color: var(--black-color);
    position: relative;
}

.anim_line_box:after{
    content: '';
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--black-color);
    animation: shape_up_down 4s infinite linear;
}

@keyframes shape_up_down{
    0%{
        top:0;
    }
    50%{
        top:100%;
    }
    100%{
        top:0;
    }
}

.about_container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
    place-items: center;
    gap: 20px;
}

.about_left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.about_left_h1{
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 600;
    -webkit-text-stroke: 1px var(--dark-color);
    color: transparent;
}
.about_left p{
    font-size: 1rem;
    font-weight: 300;
    color:#999;
}
.client_name{
    display: flex;
    flex-direction: column;
}
.about_left h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--dark-color);
    line-height: 2rem;
}
.about_left img{
   width: 100px;
   height: 50px;
}
.about_img .about_image{
    border-radius: 200px;
}
.about_img{
    position: relative;
    padding: 10px;
}
.about_img:after{
    content:'';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height:100%;
    border-radius: 200px;
    border: 1px solid var(--dark-color)
}
.about_info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 350px;
}
.about_det{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #FAF1C6;
    padding: 4%;
    border-radius: 40px;
    position: relative;
}
.about_det:nth-child(2){
    background-color: #FFD5DF;
}
.about_det:nth-child(3){
    background-color: #D5F5FF;
}
.value{
    font-size: 1.4rem;
    /* width: 190px;*/
    height: 65px; 
    padding: 10px;
    border-radius: 100%;
    border: 1px solid var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.det_info{
    display: flex;
    font-display: column;
    gap:10px;
}
.det_info h2{
    font-size: 1.3rem;
    font-weight: 500;
}
.det_info h2 span{
    font-size: 1.1rem;
    font-weight: 300;
}
.det_info p{
    font-size: 1rem;
    font-weight: 300;
}
.hidden_icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top:35%;
    left:90%;
    transition: var(--transition);
    padding: 5px;
    opacity: 0;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: var(--transition);
    cursor: pointer;
}
.icon img{
    object-fit: contain;
    width: 50%;
    cursor: pointer;
}
.about_img:hover .hidden_icons{
    left: 83% !important;
    opacity: 1;
}
.about_img:hover .icon:nth-child(1){
    opacity:1;
    transition-delay:0.3s;
}
.about_img:hover .icon:nth-child(2){
    opacity:1;
    transition-delay:0.5s;
}
.about_img:hover .icon:nth-child(3){
    opacity:1;
    transition-delay:0.7s;
}
.about_det_icon{
    position: absolute;
    top: -30%;
    left: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: var(--transition);
}
.about_icon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_icon img{
    width:50%;
    object-fit: contain;
}
.about_det:hover .about_det_icon{
    top: -20%;
    opacity: 1;
}

/* EDUCATION EXPERIENCE */

.education_experience{
    flex-direction: column;
    gap: 50px;
}

.education_btn{
    display: flex;
    gap:2px;
    width: 30%;
    padding: 10px;
    border-radius:50px;
    border: 1px solid var(--dark-color);
}

.education_btn button:active,
.education_btn button:focus{
    background-color: var(--prime-color);
    color: var(--white-color);
    border-color: var(--prime-color);
}

.education_container{
    display:flex;
    align-items: center;
    gap: 50px;
    position: relative;
}

.education_left,
.experience_right{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:15px;
}
.education_box,
.experience_box{
    width:100%;
    padding: 10px;
    background-color: #F7F5FB;
    border:1px solid var(--black-color);
    border-radius: 10px;
    position: relative;
}
.education_box:after{
    content:'';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 25px;
    height:2px;
    background-color: var(--black-color);
}
.experience_box:after{
    content:'';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 25px;
    height:2px;
    background-color: var(--black-color);
}
.education_box h2,
.experience_box h2{
    font-size: 1.3em;
    font-weight: 500;
}
.education_box h2 span,
.experience_box h2 span{
    font-size: 1.1em;
    font-weight: 400;
}
.education_box p,
.experience_box p{
    font-size: 1rem;
    font-weight: 300;
}
.show_box{
    opacity: 0;
}
.gap_line{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: var(--black-color);
}
.gap_line:after{
    content: '';
    position: absolute;
    top: 0;
    left: -9px !important;
    width: 20px;
    height: 2px;
    background-color: var(--black-color);
}
.gap_line:before{
    content: '';
    position: absolute;
    top: 100%;
    left: -9px !important;
    width: 20px;
    height: 2px;
    background-color: var(--black-color);
}
/* SKILL CARDS */
.skill_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: var(--transition);
}
.skill_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    background-color: #EDF483;
    padding: 1%;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.skill_card h2{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--sec-font);
}
.skill_card p{
    font-size: 1rem;
    font-weight: 300;
}
.skill_card:hover{
    box-shadow: 0 0 10px rgba(131,131,131,1);
}

/* FEATURED PROJECTS */

.projects{
    flex-direction: column;
    gap: 50px;
}
.projects_btns{
    width: 60%;
    border: 1px solid var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    gap: 20px;
}
.projects_btns button{
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    border: none;
}

.projects_btns button:active,
.projects_btns button:focus{
   background-color: var(--prime-color);
   color: var(--white-color);
   border-color: var(--prime-color);
   cursor: pointer;
}

.project_cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
    place-items: center;
    gap: 20px;
    margin-top: 16%;
}

.project_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 27% 0%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    position: relative;
}
.project_img{
    position: absolute;
    top:-30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    border-radius: 20px;
    overflow: hidden;
}
.project_img:after{
    content: '';
    position: absolute;
}
.project_info{
    border: 1px solid var(--black-color);
    padding: 5%;
    padding-top: 20%;
    border-radius: 20px;
}

.project_info h2{
    font-size: 1.5rem;
    font-weight: 500;
    transition: var(--transition);
}

.project_info h2:hover{
    color: var(--prime-color);
    cursor: pointer;
}

.project_info h5{
    font-weight: 300;
    color: #999;
}
.project_info p{
    font-size: 1rem;
    font-weight: 300;
}
.project_info p span{
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-color);
}

/* Footer container */
.footer {
    background-color: transparent;
    color: black;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
    font-size: 1rem;
}

.social-links {
    margin-top: 10px;
}

.social-link {
    margin: 0 15px;
}
.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-link.linkedin:hover .social-icon {
    transform: scale(1.1);
}

.social-link.github:hover .social-icon {
    transform: scale(1.1);
}

body, html {
    height: 100%;
    margin: 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
